.MessageList {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 17px 30px;
}

.MessageItem {
  display: inline-flex;
  flex-direction: column;
  max-width: 80%;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &__content {
    margin-top: 15px;
    border-radius: 6px;
    background: var(--secondary--bg-color);
    padding: 10px 20px;
  }

  .UserCard__fullname {
    font-size: 15px;
  }

  &_outgoing {
    align-self: flex-end;
    align-items: flex-end;

    .MessageItem {
      &__content {
        background: var(--primary-bg-color);
        color: var(--white-color);
      }
    }
  }
}
