.Navigation {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100px;
  border-right: 1px solid var(--border-color);

  &__logo {
    margin-bottom: 20px;
  }

  &__links-group {
    list-style: none;
    margin: 0;
    padding: 0;

    &_bottom {
      margin-top: auto;
      margin-bottom: 15px;
    }
  }

  &__group-item {
    margin: 7px 20px;
    text-align: center;
  }

  &__link {
    display: flex;
    justify-content: center;
    padding: 16px 0;
    font-size: 17px;
    color: var(--secondary-color);
    border-radius: 7px;
    line-height: 1.5;

    &_active {
      background-color: var(--secondary--bg-color);
      color: var(--accent-color);
    }
  }

  &__btn {
    font-size: 17px;
    color: var(--secondary-color);
  }

  &__settings-btn {
    margin-top: 25px;
    overflow: hidden;
    height: 36px;
    width: 36px;
    border: 0;
  }

  &__badge-container {
    sup {
      right: -5px;
      transition: opacity 0.3s ease;
    }

    &.Navigation__badge-container_hidden sup {
      opacity: 0;
    }
  }
}
