.EditProfileForm {
  &__tab-item {
    padding-top: 20px;
  }

  &__form-item {
    margin-bottom: 10px;
  }

  &__social-item {
    .ant-input-group-addon {
      padding: 0;
      overflow: hidden;
    }
  }

  &__col70 {
    width: 70%;
  }

  &__avatar-uploader {
    flex: 1 0 auto;
    text-align: right;
    padding-top: 23px;
  }
}
