.EditProfileForm {
  &__tab-item {
    padding-top: 20px;
  }

  &__form-item {
    margin-bottom: 10px;
  }

  &__social-item {
    .ant-input-group-addon {
      padding: 0;
      overflow: hidden;
    }
  }
}
