@import './helpers';
@import './styled-scroll';

:root {
  --body-bg-color: #fff;
  --border-color: #ebebeb;
  --primary-color: #212529;
  --secondary-color: #828282;
  --secondary--bg-color: #ebebeb;
  --danger-color: #fd397a;
  --accent-color: #0a80ff;
  --primary-bg-color: var(--accent-color);
  --white-color: #fff;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.text {
  &_danger {
    color: var(--danger-color) !important;
  }
  &_secondary {
    color: var(--secondary-color) !important;
  }
  &_accent {
    color: var(--accent-color) !important;
  }
}

.DropdownMenu {
  &__divider {
    margin: 4px 0;
  }
}
