@import 'assets/scss/helpers';
@import 'assets/scss/styled-scroll';
@import 'assets/scss/list-group';
@import 'assets/scss/form-membership';

:root {
  --font-family: Roboto, sans-serif;
  --body-bg-color: #fff;
  --border-color: #ebebeb;
  --primary-color: #212529;
  --secondary-color: #828282;
  --secondary--bg-color: #ebebeb;
  --danger-color: #fd397a;
  --accent-color: #0a80ff;
  --primary-bg-color: var(--accent-color);
  --white-color: #fff;
}

body {
  font-family: var(--font-family);
}

.text {
  &_danger {
    color: var(--danger-color) !important;
  }
  &_secondary {
    color: var(--secondary-color) !important;
  }
  &_accent {
    color: var(--accent-color) !important;
  }
}

.content {
  display: flex;
  justify-content: stretch;
  flex: 1 0 auto;
}

.btn {
  &_secondary {
    background: var(--secondary--bg-color);
  }

  &_transparent {
    background: transparent;
    border: none;
    outline: none;
  }
}
